---
import logo from "../images/dt-logo.png";

const serviceData = [
  {
    name: "Pattern Imprinted Concrete",
    description:
      "Durable and versatile that's a visually striking choice for all types of driveways or patios Concrete imprint is designed to create the look and feel of natural stone, slate, cobble, tile, wood & brick. With over 100 designs and colour combinations Drive Tech will help you create your perfect driveway or patio.",
    icon: logo,
  },
  {
    name: "Wallcrete",
    description:
      "Recreating the appearance of natural stone, brick or rock walling from days gone by. Wallcrete is an advanced render, designed to recreate many of the natural products used in all types of walling. Give your old, tired wall a special new look customised in your choice of over 100 different design & colour combinations.",
    icon: logo,
  },
  {
    name: "Exposed aggregate",
    description:
      "We specialize in crafting beautiful exposed aggregate surfaces that will transform your outdoor space into a stunning focal point. This unique finish combines beauty with resilience showcasing a mix of carefully selected stones, pebbles & aggregates that are embedded in concrete and create a textured non slip surface.",
    icon: logo,
  },

  {
    name: "Resin bound driveways",
    description:
      "Our resin bound driveways offer a perfect blend of beauty, durability and versatility. Made from a mix of high quality resin and natural aggregates Resin bound driveways are permeable, allowing water to drain naturally, this eco friendly feature makes it a great choice for environmentally conscious home owners, plus their smooth finish provides a safe non-slip surface that easy to maintain.",
    icon: logo,
  },
  {
    name: "Tarmac Driveways",
    description:
      "Tarmac driveways are known for their strength & durability. Making them a top choice for homeowners seeking a long lasting surface. Providing customers with a choice of block boarders in many different colours and styles to suit your property, block boarders add structure to your driveway by containing the tarmac and preventing it from spreading.",
    icon: logo,
  },
  {
    name: "Artificial Grass",
    description:
      "Transform your outdoor space with the beauty and convenience of artificial grass from Drive Tech. Say goodbye to the hassle of mowing, watering, & weeding. Say hello to a lush, green lawn that stays vibrant all year round.",
    icon: logo,
  },
];
---

<section class="bg-blue-50">
  <div class="2xl:container mx-auto py-10 lg:py-20 xl:py-40 px-4">
    <div class="mb-6 lg:mb-10 xl:mb-16 w-full 2xl:w-6/12">
      <h3
        class="text-sm text-black uppercase font-semibold tracking-widest mb-3"
      >
        What we do best
      </h3>
      <h2 class="text-4xl xl:text-7xl text-black font-bold">Our Services</h2>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-8 lg:gap-y-20 gap-x-8"
    >
      {
        serviceData.map((service) => (
          <div class="w-full">
            {/* <img style="max-width: 130px;" class="mb-3" src={service.icon.src}/> */}
            <h3 class="text-gray-700 text-2xl font-bold mb-4">
              {service.name}
            </h3>
            <p class="text-gray-500 text-lg mb-0">{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
