---

---

<section>
  <div class="px-4 2xl:px-40 py-3 bg-gray-800 flex justify-between">
    <div class="flex items-center">
      <div class="mr-9 hidden lg:flex">
        <i class="fa-regular fa-clock text-gray-300 pr-2"></i>
        <span class="text-gray-300 text-xs tracking-wider"
          >Mon - Fri 8:00 - 18:00 / Sunday 8:00 - 14:00</span
        >
      </div>
      <div class="flex mr-9">
        <i class="fa-solid fa-phone text-gray-300 pr-2"></i>
        <a
          href="tel:07880767573"
          class="text-gray-300 text-xs tracking-wider"
          target="_blank">07880 767573</a
        >
        <span class="text-gray-300 text-xs">&nbsp;/&nbsp;</span>
        <a
          href="tel:01902656788"
          class="text-gray-300 text-xs tracking-wider"
          target="_blank">01902 656788</a
        >
      </div>
      <div class="hidden lg:flex">
        <i class="fa-solid fa-location-dot text-gray-300 pr-2"></i>
        <span class="text-gray-300 text-xs tracking-wider"
          >130 Coalway Road, Wolverhampton WV3 7NB</span
        >
      </div>
    </div>

    <div class="text-lg flex">
      <a
        href="https://www.facebook.com/p/Drive-Tech-UK-Ltd-100057683408844/"
        target="_blank"
        ><i class="fa-brands fa-facebook-f text-white mr-10 hover:text-gray-300"
        ></i></a
      >
      <a href="https://www.instagram.com/drivetech_uk/" target="_blank"
        ><i class="fa-brands fa-instagram text-white hover:text-gray-300"
        ></i></a
      >
    </div>
  </div>
</section>
